@import "_breakpoints";

@keyframes button-icon-hint {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

.button {
    align-items: center;
    background-color: transparent;
    border: solid 1px #a4b7b1;
    color: #053634;
    cursor: pointer;
    display: inline-flex;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    margin: 0;
    padding: 0 32px;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.3s ease-in-out;

    &__icon {
        font-size: 0.815rem;
        margin-left: 10px;
    }

    &:hover {
        background-color: #053634;
        color: #fff;

        .button__icon {
            animation: button-icon-hint 0.5s ease-in-out 0.5s 2;
        }
    }

    &.--primary {
        background-color: #053634;
        border: none;
        color: #f8f6f1;

        &:hover {
            background-color: #ebb017;
        }
    }

    &.--big {
        border: none;
        height: 74px;
        line-height: 74px;
        padding: 0 25px;
    }
}

.icon-button {
    background: transparent;
    border: none;
    padding: 10px;

    &:hover {
        background: #eee;
    }
}

.image-pair {
    height: 100%;
    position: relative;
    width: 100%;

    &__small {
        border: solid 14px #f8f6f1;
        border-left: none;
        border-top: none;
        height: auto;
        max-width: 44%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    &__big {
        height: auto;
        margin-left: 21.5%;
        margin-top: 11.2%;
        max-width: 78.4%;
        width: 100%;
    }
}

.decorated-image {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 5.322%;
    padding-left: 5.873%;
    position: relative;
    width: 100%;

    &__image {
        height: auto;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &::before {
        border: 14px solid #f0f1ea;
        bottom: 0;
        box-sizing: border-box;
        content: "";
        height: 94.678%;
        left: 0;
        position: absolute;
        width: 94.127%;
        z-index: 0;
    }
}

.email-field {
    align-items: center;
    display: flex;
    max-width: 686px;
}

.input {
    background-color: transparent;
    border: 1px solid #b5c3be;
    box-sizing: border-box;
    color: #053634;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    height: 74px;
    line-height: 74px;
    padding: 0 37px;
    width: 100%;

    &::placeholder {
        color: #053634;
        font-style: italic;
        font-weight: 300;
    }

    &:hover {
        border: 1px solid #053634;
    }

    &:focus {
        outline: none;
    }
}

.list {
    list-style: none;
    padding: 0;

    &__item {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 220%;
        text-transform: capitalize;
    }

    &.--with-dashes {
        .list__item {
            padding-left: 18px;
            position: relative;

            &::before {
                background-color: #dddfd5;
                content: "";
                display: inline-block;
                height: 1px;
                margin-bottom: 0.281em;
                margin-left: -18px;
                margin-right: 8px;
                width: 10px;
            }
        }
    }

    &.--extra-space-between {
        .list__item {
            margin-bottom: 10px;
        }
    }
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;

    &__item {
        font-size: 0.75rem;
        margin-left: 34px;
    }
}

.block {
    background: #f8f6f1;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;

    &.--alt-color {
        background-color: #f0f1ea;
    }

    &.--double-dot-pattern {
        &::before {
            background-image: url(/res/images/dots.png), url(/res/images/dots.png);
            background-position: left 1.197% top 18.73%, right 1.197% bottom 15.033%;
            background-repeat: no-repeat, no-repeat;
            bottom: 0px;
            content: "";
            left: 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: -1;
        }
    }

    &.--bottom-right-dot-pattern {
        &::before {
            bottom: 0;
            content: url(/res/images/dots.png);
            position: absolute;
            right: -85px;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    &.--left-dot-pattern {
        &::before {
            content: url(/res/images/dots-darker.png);
            left: 5.156%;
            position: absolute;
            top: 12.133%;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    $triangle_height: 54px;
    &.--top-right-triangle,
    &.--bottom-left-triangle,
    &.--bottom-right-triangle {
        &::after {
            border-bottom: $triangle_height solid #ebb017;
            border-left: $triangle_height solid transparent;
            border-right: $triangle_height solid transparent;
            content: "";
            height: 0px;
            position: absolute;
            transform-origin: top;
            width: 0px;
        }
    }

    &.--top-right-triangle {
        &::after {
            right: 0;
            top: 0;
            transform: translate($triangle_height, 0) rotate(45deg);
        }
    }

    &.--bottom-left-triangle {
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-$triangle_height, $triangle_height) rotate(-135deg);
        }
    }

    &.--bottom-right-triangle {
        &::after {
            bottom: 0;
            right: 0;
            transform: translate($triangle_height, $triangle_height) rotate(135deg);
        }
    }
}

.branding {
    align-items: center;
    display: flex;
    justify-content: center;

    &__name {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }

    &__title {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.14rem;
        line-height: 146%;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #5f7d78;
        font-family: "Work Sans", sans-serif;
        font-size: 1.063rem;
        letter-spacing: 0.06em;
        line-height: 146%;
        text-transform: capitalize;
    }
}

.menu {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        border-bottom: 3px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 127px;
        justify-content: center;
        width: 100px;

        &:hover {
            border-bottom: solid 3px #053634;
        }

        &.--current {
            border-bottom: solid 3px #ebb017;
        }
    }

    &__link {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;

    @include lg {
        flex-flow: row;
    }

    &__message {
        background: #f0f1ea;
        box-sizing: border-box;
        padding: 34px;

        @include lg {
            max-width: 50%;
            padding: 68px;
        }

        @include xl {
            padding: 184px 110px 184px 168px;
            width: 37.864%;
        }
    }

    &__call-to-action {
        margin: 34px 0;

        @include lg {
            margin-top: 68px;
        }
    }

    &__image-wrapper {
        order: -1;

        @include lg {
            align-items: center;
            display: flex;
            justify-content: center;
            order: 2;
            overflow: hidden;
        }
    }

    &__image {
        height: auto;
        width: 100%;

        @include lg {
            height: 100%;
            width: auto;
        }
    }
}

.brands {
    border-bottom: 1px solid #e5e7dd;
    display: flex;
    justify-content: left;

    @include xl {
        justify-content: center;
    }

    &__inner {
        @include xl {
            overflow: hidden;
            width: 83.333%;
        }
    }

    &__list {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: transform 1s ease-in-out;
    }

    &__item {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 227px;
        justify-content: center;
        width: 100vw;

        @include md {
            width: 50vw;
        }

        @include lg {
            width: 33.333vw;
        }

        @include xl {
            flex: 0 0 320px;
        }
    }

    &__logo {
        height: auto;
        max-width: 100%;
    }
}

.slideshow {
    &__slides {
        overflow: hidden;
        padding-top: 60.393%; // Fixed aspect ratio
        position: relative;
        width: 100%;
    }

    &__slide {
        height: auto;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 1s ease-out;
        width: 100%;

        &.--current {
            opacity: 1;
        }
    }
}

.numbered-captions {
    height: 68px;
    width: 100%;

    &__list {
        counter-reset: Counter;
        display: flex;
        font-family: "Work Sans", sans-serif;
        height: 100%;
        list-style: none;
        padding: 0;
    }

    &__item {
        color: #72908b;
        counter-increment: Counter;
        display: flex;
        flex: 1 0;
        flex-flow: column;
        font-size: 0.725rem;
        font-weight: 400;
        line-height: 145%;
        text-transform: capitalize;
        transition: color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;

        @include md {
            flex-flow: row;
            font-size: 1.125rem;
        }

        &::before {
            color: #72908b;
            content: "0" counter(Counter) ".";
            display: block;
            font-size: 1.063rem;
            font-weight: 700;
            letter-spacing: 0.04rem;
            margin-bottom: 10px;
            margin-right: 10px;
            text-transform: capitalize;

            @include md {
                margin-bottom: 0;
            }
        }

        &.--current {
            color: #053634;

            &::before {
                color: #053634;
            }
        }
    }

    &__separator {
        background-color: #e0e2d8;
        height: 100%;
        margin: 0 10px;
        width: 1px;

        @include md {
            margin: 0 30px;
        }
    }
}

.projects {
    &__grid {
        display: grid;
        gap: 40px;
        padding-top: 20px;

        @include lg {
            gap: 72px;
            grid-template-columns: auto auto;
        }

        @include xl {
            grid-template-columns: auto auto auto;
        }
    }

    &__item {
        &:nth-child(3n + 2) {
            @include xl {
                margin-top: -30px;
            }
        }
    }
}

.project-preview {
    &__figure {
        margin: 0;
    }

    &__image {
        height: auto;
        width: 100%;
    }

    &__caption {
        margin-top: 12px;

        @include lg {
            margin-left: 20px;
        }
    }
}

.testimonials {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 100%;

    &__row {
        display: flex;
        transition: 0.9s ease-in-out;
    }

    &__item {
        display: flex;
        flex: 1 0 100%;
        margin-right: 2.651%;

        @include lg {
            flex: 1 0 48.674%;
            grid-template-columns: auto auto;
        }

        @include xl {
            flex: 1 0 31.565%;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    &__dot {
        border-radius: 50%;
        cursor: pointer;
        height: 32px;
        margin: 0 2px;
        position: relative;
        width: 32px;

        &::after {
            background-color: #d7dac6;
            border-radius: 50%;
            content: "";
            height: 10px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
        }

        &.--current {
            &::after {
                background-color: #053634;
            }
        }
    }
}

.testimonial {
    background-color: #f8f6f1;
    border: 1px solid #ebe8e0;
    box-sizing: border-box;
    padding: 28px;
    width: 100%;

    @include lg {
        padding: 58px;
    }

    &__message {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 190%;

        @include lg {
            font-size: 1.5rem;
        }
    }

    &__author {
        align-items: center;
        color: #053634;
        display: flex;
        font-size: 1.75rem;
        letter-spacing: 0.02em;
        line-height: 126%;
        margin-top: 25px;
        text-transform: capitalize;

        &::before {
            background: #dddfd5;
            content: "";
            display: block;
            height: 1px;
            margin-right: 25px;
            width: 25px;

            @include lg {
                width: 70px;
            }
        }
    }

    &__employer {
        color: #72908b;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        line-height: 145%;
        margin-left: 50px;
        margin-top: 10px;
        text-transform: capitalize;

        @include lg {
            margin-left: 95px;
        }
    }
}

.blog-posts {
    display: flex;
    flex-flow: column;

    @include lg {
        flex-flow: row;
        justify-content: space-between;
    }

    &__item {
        margin-top: 20px;

        @include lg {
            margin-top: none;
            width: 32.323%;
        }
    }
}

.blog-post-preview {
    display: flex;
    flex-flow: column;
    width: 100%;

    &__image {
        height: auto;
        width: 100%;
    }

    &__date {
        color: #72908b;
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        padding: 20px 0 0;

        @include lg {
            padding: 20px 20px 0 20px;
        }
    }

    &__title {
        color: #053634;
        margin: 0;
        padding: 10px 0 20px;

        @include lg {
            padding: 10px 20px 20px 20px;
        }
    }
}
