@import "_breakpoints";

.l-header {
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    padding: 30px 34px;

    @include lg {
        padding: 0px 68px;
    }

    @include xl {
        padding: 0px 168px;
    }

    &__branding {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: auto;
    }

    &__menu {
        display: none;

        @include lg {
            display: block;
            margin-right: 42px;
        }
    }

    &__search {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        margin-top: 5px;
    }

    &__side-menu {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: -8px;
        margin-top: 5px;
    }
}

.l-about-section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    padding: 40px 34px 100px;
    width: 100%;

    @include lg {
        flex-flow: row;
        padding: 68px;
    }

    @include xl {
        padding: 168px;
    }

    &__image-pair {
        margin-top: 25px;

        @include lg {
            margin-top: 7px;
            width: 43.42%;
        }
    }

    &__article {
        align-items: center;
        display: flex;
        margin-top: 100px;

        @include lg {
            margin-left: 123px;
            margin-top: 50px;
            width: 47.03%;
        }
    }
}

.l-services-section {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 40px 34px 100px;
    width: 100%;

    @include lg {
        align-items: center;
        flex-flow: row;
        padding: 68px;
    }

    @include xl {
        padding: 168px;
    }

    &__article {
        align-self: flex-start;
        margin-top: 26px;

        @include lg {
            width: 37.5%;
        }
    }

    &__slideshow {
        margin-top: 60px;

        @include lg {
            margin-top: 30px;
            width: 57.7%;
        }
    }
}

.l-portfolio-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 60px 34px;

    @include lg {
        padding: 68px;
    }

    @include xl {
        padding: 185px 168px 200px;
    }

    &__introduction {
        align-items: center;
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    &__projects {
        margin-top: 34px;

        @include lg {
            margin-top: 75px;
        }
    }

    &__view-more {
        margin-top: 41px;
    }
}

.l-testimonials-section {
    padding: 60px 34px;

    @include lg {
        padding: 68px;
    }

    @include xl {
        padding: 150px 168px 139px;
    }

    &__title {
        margin-bottom: 17px;
        margin-top: 0;
    }

    &__testimonials {
        margin-top: 45px;

        @include lg {
            margin-top: 77px;
        }
    }
}

.l-newsletter-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 60px 34px;

    @include lg {
        flex-flow: row;
        padding: 68px;
    }

    @include xl {
        padding: 168px 168px 89px;
    }

    &__image {
        margin-top: 60px;

        @include lg {
            margin-top: 32px;
            width: 42.297%;
        }
    }

    &__sign-up {
        order: -1;

        @include lg {
            order: 2;
            width: 48.484%;
            margin-top: -21px;
        }
    }

    &__submit {
        margin-top: 60px;
    }
}

.l-blog-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 60px 34px;

    @include lg {
        padding: 68px;
    }

    @include xl {
        padding: 89px 168px 198px;
    }

    &__introduction {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    &__blog-posts {
        margin-top: 35px;

        @include xl {
            margin-top: 25px;
        }
    }

    &__view-more {
        margin-top: 57px;
    }
}

.l-contact-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 60px 34px;

    @include lg {
        flex-flow: row;
        padding: 68px;
    }

    @include xl {
        padding: 150px 326px;
    }

    &__message-headline {
        text-align: center;

        @include lg {
            text-align: left;
        }
    }

    &__message-body {
        max-width: 670px;
        text-align: center;

        @include lg {
            text-align: left;
        }
    }

    &__contact-me {
        margin-top: 20px;

        @include lg {
            margin-left: auto;
            margin-top: none;
        }
    }
}

.l-footer-block {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "company-statement"
        "quick-links"
        "services"
        "company-info";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    padding: 60px 34px 30px;

    @include md {
        display: grid;
        grid-template-areas:
            "company-statement quick-links"
            "company-info  services";
        grid-template-columns: 40% 35%;
        justify-content: space-between;
    }

    @include lg {
        display: grid;
        grid-template-areas:
            "company-statement . ."
            "quick-links services company-info";
        grid-template-columns: 33.333% 33.333% 33.333%;
        padding: 68px;
    }

    @include xl {
        grid-template-areas: "company-statement . quick-links . services . company-info";
        grid-template-columns: 22.853% 15.719% auto 8.459% auto 5.934% auto;
        padding: 155px 168px 80px;
    }

    &__company-statement {
        grid-area: company-statement;
        text-align: center;

        @include md {
            align-items: flex-start;
            display: flex;
            flex-flow: column;
            text-align: left;
        }
    }

    &__quick-links {
        grid-area: quick-links;
        text-align: center;

        @include md {
            text-align: left;
        }
    }

    &__services {
        grid-area: services;
        text-align: center;

        @include md {
            text-align: left;
        }
    }

    &__company-info {
        grid-area: company-info;
        text-align: center;

        @include md {
            text-align: left;
        }
    }
}

.l-footer-bar {
    border-top: 1px solid #e5e7dd;
    display: flex;
    flex-flow: column;
    padding: 30px 34px;

    @include lg {
        flex-flow: row;
        padding: 68px;
    }

    @include xl {
        padding: 50px 168px;
    }

    &__copyright {
        margin-top: 20px;
        text-align: center;
    }

    &__social-media {
        display: flex;
        justify-content: center;
        order: -1;

        @include lg {
            display: block;
            margin-left: auto;
            order: 2;
        }
    }
}
