/* --- Imports --- */
@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

/* --- Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap");

/* --- General --- */
.block {
    background: #f8f6f1;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.--alt-color {
        background-color: #ebe8e0;
    }

    $triangle_height: 54px;
    &.--top-right-triangle,
    &.--bottom-left-triangle,
    &.--bottom-right-triangle {
        &::after {
            border-bottom: $triangle_height solid #ebb017;
            border-left: $triangle_height solid transparent;
            border-right: $triangle_height solid transparent;
            content: "";
            height: 0px;
            position: absolute;
            transform-origin: top;
            width: 0px;
        }
    }

    &.--top-right-triangle {
        &::after {
            right: 0;
            top: 0;
            transform: translate($triangle_height, 0) rotate(45deg);
        }
    }

    &.--bottom-left-triangle {
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-$triangle_height, $triangle_height) rotate(-135deg);
        }
    }

    &.--bottom-right-triangle {
        &::after {
            bottom: 0;
            right: 0;
            transform: translate($triangle_height, $triangle_height) rotate(135deg);
        }
    }
}

.icon-button {
    background: transparent;
    border: none;
    padding: 10px;

    &:hover {
        background: #eee;
    }
}

/* --- Header --- */
.l-header {
    box-sizing: border-box;
    display: flex;
    padding: 0px 168px;

    &__branding {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__menu {
        margin-left: auto;
    }

    &__search {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 42px;
    }

    &__side-menu {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 16px;
    }
}

.branding {
    align-items: center;
    display: flex;
    justify-content: center;

    &__name {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }

    &__title {
        color: #053634;
        color: #053634;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.14rem;
        line-height: 146%;
        text-transform: uppercase;
        font-family: "Work Sans", sans-serif;
    }

    &__subtitle {
        color: #5f7d78;
        color: #5f7d78;
        font-size: 1.063rem;
        letter-spacing: 0.06em;
        line-height: 146%;
        text-transform: capitalize;
        font-family: "Work Sans", sans-serif;
    }
}

.menu {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        border-bottom: 3px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 127px;
        justify-content: center;
        width: 100px;

        &:hover {
            border-bottom: solid 3px #ebe8e0;
        }

        &.--current {
            border-bottom: solid 3px #ebb017;
        }
    }

    &__link {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}
