/* --- Imports --- */
@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

/* --- Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");

/* --- Typography --- */
.h1 {
    color: #053634;
    font-family: "Playfair Display", serif;
    font-size: 4.125rem;
    line-height: 126%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;

    &.--letters-spaced {
        letter-spacing: 0.02em;
    }
}

.h2 {
    color: #053634;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    position: relative;
    text-transform: capitalize;
    transform-style: preserve-3d; // https://fjolt.com/article/css-make-child-appear-behind-parent

    &.--with-circle {
        &::after {
            $circle-diameter: 5.25rem;
            background: #ebb017;
            border-radius: 50%;
            content: "";
            height: $circle-diameter;
            left: -$circle-diameter/2.5;
            position: absolute;
            top: -$circle-diameter/5.2;
            transform: translateZ(-1px);
            width: $circle-diameter;
        }
    }
}

.h3 {
    color: #053634;
    font-family: "Playfair Display", serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 145%;
    text-transform: capitalize;
}

.h4 {
    color: #053634;
    font-family: "Work Sans", sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 180%;
    text-transform: capitalize;
}

.h5 {
    color: #053634;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

.h6 {
    color: #72908b;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

p {
    color: #053634;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 220%;
}

a {
    color: #053634;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

/* --- General --- */
.block {
    background: #f8f6f1;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.--alt-color {
        background-color: #f0f1ea;
    }

    $triangle_height: 54px;
    &.--top-right-triangle,
    &.--bottom-left-triangle,
    &.--bottom-right-triangle {
        &::after {
            border-bottom: $triangle_height solid #ebb017;
            border-left: $triangle_height solid transparent;
            border-right: $triangle_height solid transparent;
            content: "";
            height: 0px;
            position: absolute;
            transform-origin: top;
            width: 0px;
        }
    }

    &.--top-right-triangle {
        &::after {
            right: 0;
            top: 0;
            transform: translate($triangle_height, 0) rotate(45deg);
        }
    }

    &.--bottom-left-triangle {
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-$triangle_height, $triangle_height) rotate(-135deg);
        }
    }

    &.--bottom-right-triangle {
        &::after {
            bottom: 0;
            right: 0;
            transform: translate($triangle_height, $triangle_height) rotate(135deg);
        }
    }
}

.button {
    background-color: transparent;
    border: solid 1px #a4b7b1;
    color: #053634;
    cursor: pointer;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    margin: 0;
    padding: 0 32px;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
        content: url(/res/icons/arrow.svg);
        height: 10px;
        margin-left: 8px;
        position: relative;
        width: 18px;
    }

    &.--primary {
        background-color: #053634;
        border: none;
        color: #f8f6f1;
    }

    &.--big {
        border: none;
        height: 74px;
        line-height: 74px;
        padding: 0 25px;
    }
}

.icon-button {
    background: transparent;
    border: none;
    padding: 10px;

    &:hover {
        background: #eee;
    }
}

.image-pair {
    height: 100%;
    position: relative;
    width: 100%;

    &__small {
        border: solid 14px #f8f6f1;
        border-left: none;
        border-top: none;
        max-width: 44%;
        position: absolute;
        z-index: 1;
    }
    &__big {
        max-width: 78.4%;
        position: absolute;
        right: 0;
        top: 9.4%;
    }
}

/* --- Header --- */
.l-header {
    box-sizing: border-box;
    display: flex;
    padding: 0px 168px;

    &__branding {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__menu {
        margin-left: auto;
    }

    &__search {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 42px;
    }

    &__side-menu {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 16px;
    }
}

.branding {
    align-items: center;
    display: flex;
    justify-content: center;

    &__name {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }

    &__title {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.14rem;
        line-height: 146%;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #5f7d78;
        font-family: "Work Sans", sans-serif;
        font-size: 1.063rem;
        letter-spacing: 0.06em;
        line-height: 146%;
        text-transform: capitalize;
    }
}

.menu {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        border-bottom: 3px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 127px;
        justify-content: center;
        width: 100px;

        &:hover {
            border-bottom: solid 3px #ebe8e0;
        }

        &.--current {
            border-bottom: solid 3px #ebb017;
        }
    }

    &__link {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/* --- Hero --- */
.hero {
    display: flex;
    width: 100%;

    &__message {
        background: #f0f1ea;
        padding: 184px 110px 0 168px;
        width: 727px;
    }

    &__call-to-action {
        margin-top: 68px;
    }
}

/* --- Brands section --- */
.brands {
    border-bottom: 1px solid #e5e7dd;
    height: 227px;

    &__list {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        list-style: none;
        margin-left: -168px;
    }

    &__item {
        margin-left: 168px;
    }
}

/* --- About section --- */
.l-about-section {
    box-sizing: border-box;
    display: flex;
    padding: 168px;
    width: 100%;

    &__image-pair {
        flex: 1 0 691px;
    }

    &__article {
        align-items: center;
        display: flex;
        height: 829px;
        margin-left: 128px;
    }
}

/* --- Services section --- */
.l-services-section {
    box-sizing: border-box;
    display: flex;
    padding: 168px;
    width: 100%;

    &__article {
        width: 594px;
    }

    &__slideshow {
        margin-left: 75px;
        width: 914px;
    }
}

.numbered-captions {
    height: 68px;
    width: 100%;

    &__list {
        align-items: center;
        counter-reset: Counter;
        display: flex;
        font-family: "Work Sans", sans-serif;
        height: 100%;
        list-style: none;
        padding: 0;
    }

    &__item {
        color: #72908b;
        counter-increment: Counter;
        display: flex;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 145%;
        text-transform: capitalize;

        &::before {
            color: #72908b;
            content: "0" counter(Counter) ".";
            display: block;
            font-size: 1.063em;
            font-weight: 700;
            letter-spacing: 0.04em;
            margin-right: 10px;
            text-transform: capitalize;
        }

        &.--current {
            color: #053634;

            &::before {
                color: #053634;
            }
        }
    }

    &__separator {
        background-color: #e0e2d8;
        height: 100%;
        margin: 0 30px;
        width: 1px;
    }
}

/* --- Portfolio section --- */
.l-portfolio-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 168px;

    &__introduction {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    &__projects {
        margin-top: 75px;
    }
}

.projects {
    &__grid {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-top: 20px;
    }

    &__item {
        &:nth-child(3n + 2) {
            margin-top: -30px;
        }
    }
}

.project-preview {
    &__caption {
        margin-left: 20px;
        margin-top: 12px;
    }
}

/* --- Testimonials section --- */
.l-testimonials-section {
    padding: 168px;

    &__testimonials {
        margin-top: 75px;
    }
}

.testimonials {
    display: flex;
    flex-flow: column;

    &__row {
        display: flex;
    }

    &__item {
        margin-right: 42px;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    &__dot {
        background-color: #d7dac6;
        border-radius: 50%;
        height: 10px;
        margin: 0 14px;
        width: 10px;

        &.--current {
            background-color: #053634;
        }
    }
}

.testimonial {
    background-color: #f8f6f1;
    border: 1px solid #ebe8e0;
    box-sizing: border-box;
    padding: 58px;
    width: 500px;

    &__message {
        color: #053634;
        font-family: "Work Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 190%;
    }

    &__author {
        align-items: center;
        color: #053634;
        display: flex;
        font-size: 1.75rem;
        letter-spacing: 0.02em;
        line-height: 126%;
        margin-top: 25px;
        text-transform: capitalize;

        &::before {
            background: #dddfd5;
            content: "";
            display: block;
            height: 1px;
            margin-right: 25px;
            width: 70px;
        }
    }

    &__occupation {
        color: #72908b;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        line-height: 145%;
        margin-left: 95px;
        margin-top: 10px;
        text-transform: capitalize;
    }
}

/* --- Newsletter section --- */
.l-newsletter-section {
    align-items: center;
    display: flex;
    padding: 168px;

    &__sign-up {
        margin-left: 146px;
    }
}

.decorated-image {
    display: inline-block;
    position: relative;

    &__image {
        position: relative;
        z-index: 1;
    }

    &::before {
        border: 14px solid #f0f1ea;
        box-sizing: border-box;
        content: "";
        height: 100%;
        left: -40px;
        margin-top: 47px;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}

.email-field {
    align-items: center;
    display: flex;
    max-width: 686px;
}

.input {
    background-color: transparent;
    border: 1px solid #b5c3be;
    box-sizing: border-box;
    color: #053634;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    height: 74px;
    line-height: 74px;
    padding: 0 37px;
    width: 100%;

    &::placeholder {
        color: #053634;
        font-style: italic;
        font-weight: 300;
    }

    &:hover {
        border: 1px solid #053634;
    }

    &:focus {
        outline: none;
    }
}

/* --- Blog section --- */
.l-blog-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 168px;

    &__introduction {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    &__blog-posts {
        margin-top: 65px;
    }
}

.blog-posts {
    display: flex;

    &__item {
        margin-right: 24px;
    }
}

.blog-post-preview {
    display: flex;
    flex-flow: column;

    &__date {
        color: #72908b;
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        padding: 20px 20px 0 20px;
    }

    &__title {
        color: #053634;
        margin: 0;
        padding: 10px 20px 20px 20px;
    }
}

/* --- Contact section --- */
.l-contact-section {
    align-items: center;
    display: flex;
    padding: 150px 326px;

    &__message-body {
        max-width: 670px;
    }

    &__contact-button {
        margin-left: auto;
    }
}

/* --- Helpers --- */
.h-m-0 {
    margin: 0;
}

.h-mt-44 {
    margin-top: 44px;
}

.h-mt-70 {
    margin-top: 70px;
}
